// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
{
	background-image: image-url('main/main_bg.png');	
}

html, body
{
	overflow:initial !important;
  min-width: 1280px;
}

.top_panel 
{
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75);
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.login_button
{
  border-radius: 12px;
	color: white;
	width: 120px;
	height: 48px;
	margin-left: 8px;
}

.main_button
{
  border-radius: 12px;
	color: white;
	width: 128px;
	height: 48px;
	margin-left: 8px;
}

.confirm_button
{
  border-radius: 12px;
	color: white;
	width: 160px;
	height: 48px;
}

.main_panel
{
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75);
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	padding-left: 16px;
  padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.card_panel
{
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75);
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
  width: 30%;
  display: inline-block;
  position: relative;
}

.card_page
{
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.75);  
  margin-top: 16px;
  margin-right: 2px;
	padding-left: 8px;
  padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;  
  display: inline-block;
}

.page_container
{
  margin-right: 38px;
  text-align: right;
}

.card_img
{
  position: absolute 
}

.card_text
{
  height: 206px;
  margin-left: 146px;
  margin-right: 16px;
  word-break: break-all; 
  word-wrap: break-word
}

.purchase-button
{
  position: absolute;
  top: 174px;
  left: 162px;
}

.vcode_table
{
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.vcode_table td, .vcode_table th 
{
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.vcode_table tr:nth-child(even) 
{
  background: #D0E4F5;
}
.vcode_table thead 
{
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}
.vcode_table thead th 
{
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
.vcode_table thead th:first-child 
{
  border-left: none;
}

.vcode_table tfoot 
{
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}